<!doctype>
	<html>
		<head>
			<title>{{title}}</title>
			<link rel="stylesheet" type="text/css" href="/public/css/reset.css"/>			
			<meta name="viewport" content="width=device-width" initial-scale="0" user-scalable="0" maximum-scale="0"/>
			{{{_sections.head}}}
		</head>
		<body>			
			{{{body}}}
			<script type="text/javascript" src="/public/js/jquery-3.2.1.min.js"></script>
			<script type="text/javascript" src="/public/js/layout.js"></script>
			{{{_sections.jquery}}}
		</body>
	</html>