{{#section "head"}}
	<link rel="stylesheet" type="text/css" href="/public/css/menu.css"/>
	<link rel="stylesheet" type="text/css" href="/public/css/admin/adminSender.css"/>
{{/section}}

<div id="body">
	<h1>Veuillez Envoyer exactement le montant démandé au numero inscrit dans les demandes le consernant, puis cliquer sur effectué lorsque vous ete sûr que la transaction s'est fait correctement !!!</h1>
	<span id="refresh">Actualisez</span>
	<ul id="sender">
		
	</ul>
</div>
{{#section "jquery"}}
	<script type="text/javascript">
		$(document).ready(function(){
			$("#refresh").on("click",function(){
				AjaxCall();
			});
			AjaxCall();
			function AjaxCall(){
				$("#sender").html("");
				$.ajax({
					url:"/admin/withdraw_request",
					type:"GET",
					success:function(data){
						console.log(data);							
						if(data.withdraw){							
							var list=data.withdraw;
							var id=list[i]._id;
									var type=list.type;
									var message=list.message;
									var date=list.date;
									var time=list.time;
									var sum=list.sum;
									var telephone=list.telephone;
									var traited=list.traited;									
									if(traited){										
										var inprogress="traited"
									}else{										
										var inprogress="";
									}
		$("#sender").append("<li><span class="+inprogress+"><em>En cours de verification ...</em></span><span><strong>Objet :</strong> "+message+"</span><span><strong>Numero :</strong> "+telephone+"</span><span><strong>Montant :</strong> "+sum +"$</span><span><strong>Date de la demande</strong> "+date+" à "+time+"</span><span class='check' name="+id+">Effectué</span></li>");
							/*
							for(let i=0; i<list.length;i++){
									var id=list[i]._id;
									var type=list[i].type;
									var message=list[i].message;
									var date=list[i].date;
									var time=list[i].time;
									var sum=list[i].sum;
									var telephone=list[i].telephone;
									var traited=list[i].traited;									
									if(traited){										
										var inprogress="traited"
									}else{										
										var inprogress="";
									}
								$("#sender").append("<li><span class="+inprogress+"><em>En cours de verification ...</em></span><span><strong>Objet :</strong> "+message+"</span><span><strong>Numero :</strong> "+telephone+"</span><span><strong>Montant :</strong> "+sum +"$</span><span><strong>Date de la demande</strong> "+date+" à "+time+"</span><span class='check' name="+id+">Effectué</span></li>");
							}
						*/							
						}
						$(".check").each(function(){
							$(this).on("click",function(){
								let name=$(this).attr("name");
								$.ajax({
									url:"/admin/sender/getUserRequest",
									type:"POST",
									data:"id="+name,
									success:function(data){
										if(data.withdraw){
											AjaxCall();
										}									
									},
									error:function(res){
										console.log(res)
									}
								});							
							});
						});						
						
						if(data.no_withdraw){						
							$("#sender").append(data.no_withdraw);	
						}							
					},
					error:function(err){
						console.log(err);
					}
				})
			}
				
		})
	</script>
	<script type="text/javascript" src="/public/js/admin/sender.js"></script>
{{/section}}