{{#section "head"}}
	<link rel="stylesheet" type="text/css" href="/public/css/menu.css"/>
	<link rel="stylesheet" type="text/css" href="/public/css/admin/adminSender.css"/>
{{/section}}

<div id="body">
	<h1>Fiche de démandes de retrait</h1>
	<p>Veuillez envoyer exactement le montant démandé au numero inscrit dans la damande</p>
	<span id="refresh">Actualisez</span>
	<section>
		<ul id="traited">
			<h1>Rétrait en cours de traitement</h1>
		</ul>
		<ul id="sender">
			<h1>Demande de rétrait actuelle</h1>			
		</ul>
	</section>	
	<footer id="footer">
		<p>En cliquant sur effectué vous certifier avoir envoyer le montant démandé au numéro du benefiare tel qu'inscrit dans la démande de rétrait</p>
		<p>Toute transation non conforme a une démande est considere comme une <strong>faute proffessionelle</strong></p>
		<p class="logo"><img src="/public/logo/logo.png"/><img src="/public/logo/xerox.png"/></p>
		<p>Copyright 2020 IntelBin.sarl</p>
	</footer>
</div>
{{#section "jquery"}}
	<script type="text/javascript">
		$(document).ready(function(){
			$("#refresh").on("click",function(){
				WithdrawRequest();
				WithdrawTraited();
			});
			WithdrawRequest();
			WithdrawTraited();
			function WithdrawRequest(){
				$("#sender").html("");				
				$.ajax({
					url:"/admin/withdraw_request",
					type:"GET",
					success:function(data){
						console.log(data);							
						if(data.withdraw){							
							let list=data.withdraw,
								id=list._id,
									type=list.type,
									message=list.message,
									date=list.date,
									time=list.time,
									sum=list.sum,
									telephone=list.telephone,
									traited=list.traited;								
									$("#sender").append("<h1>Demande de rétrait actuelle</h1>");
									$("#sender").append("<li><span><strong>Objet :</strong> "+message+"</span><span><strong>Numero :</strong> "+telephone+"</span><span><strong>Montant :</strong> "+sum +"$</span><span><strong>Date de la demande</strong> "+date+" à "+time+"</span><span class='check' name="+id+">Effectué</span></li>");
													
						}						
						$(".check").each(function(){
							$(this).on("click",function(){
								let name=$(this).attr("name");
								$.ajax({
									url:"/admin/sender/getUserRequest",
									type:"POST",
									data:"id="+name,
									success:function(data){
										if(data.withdraw){
											WithdrawRequest();
										}									
									},
									error:function(res){
										console.log(res)
									}
								});							
							});
						});						
						
						if(data.no_withdraw){
							$("#sender").append("<h1>Demande de rétrait actuelle</h1>");						
							$("#sender").append(data.no_withdraw);	
						}						
					},
					error:function(err){
						console.log(err);
					}
				})
			}
			function WithdrawTraited(){				
				$("#traited").html("");
				$.ajax({
					url:"/admin/withdraw_traited",
					type:"GET",
					success:function(data){
						console.log(data);							
						if(data.withdraw){							
							let list=data.withdraw;
							for(let i=0; i<list.length;i++){
									var id=list[i]._id;
									var type=list[i].type;
									var message=list[i].message;
									var date=list[i].date;
									var time=list[i].time;
									var sum=list[i].sum;
									var telephone=list[i].telephone;
									var traited=list[i].traited;									
									if(traited){										
										var inprogress="traited"
									}else{										
										var inprogress="";
									}
									$("#traited").append("<h1>Retrait en cours de traitement</h1>");
								$("#traited").append("<li><span class="+inprogress+"><em>En cours de verification ...</em></span><span><strong>Objet :</strong> "+message+"</span><span><strong>Numero :</strong> "+telephone+"</span><span><strong>Montant :</strong> "+sum +"$</span><span><strong>Date de la demande</strong> "+date+" à "+time+"</span><span class='check' name="+id+">Effectué</span></li>");
							}
							/*	
								id=list._id,
									type=list.type,
									message=list.message,
									date=list.date,
									time=list.time,
									sum=list.sum,
									telephone=list.telephone,
									traited=list.traited;
									let inprogress="";
									if(traited){
										inprogress="traited"
									}
									$("#traited").append("<h1>Retrait en cours de traitement</h1>");
									$("#traited").append("<li><span class="+inprogress+"><em>En cours de verification ...</em></span><span><strong>Objet :</strong> "+message+"</span><span><strong>Numero :</strong> "+telephone+"</span><span><strong>Montant :</strong> "+sum +"$</span><span><strong>Date de la demande</strong> "+date+" à "+time+"</span><span class='check' name="+id+">Effectué</span></li>");
								*/					
						}	
						/*						
						$(".check").each(function(){
							$(this).on("click",function(){
								let name=$(this).attr("name");
								$.ajax({
									url:"/admin/sender/getUserRequest",
									type:"POST",
									data:"id="+name,
									success:function(data){
										if(data.withdraw){
											WithdrawTraited();
										}									
									},
									error:function(res){
										console.log(res)
									}
								});							
							});
						});						
						*/
						if(data.no_withdraw){
							$("#traited").append("<h1>Rétrait en cours de traitement</h1>");						
							$("#traited").append(data.no_withdraw);	
						}						
					},
					error:function(err){
						console.log(err);
					}
				})
			}
				
		})
	</script>
	<script type="text/javascript" src="/public/js/admin/sender.js"></script>
{{/section}}