{{#section "head"}}
	<link rel="stylesheet" type="text/css" href="/public/css/menu.css"/>
	<link rel="stylesheet" type="text/css" href="/public/css/admin/adminChecker.css"/>
{{/section}}
		<nav>
			<h1>Validation de transaction financiere</h1>
			
			<p>Veuillez remplire les formulaires de validation conforment aux données se trouvant dans le message de transaction.</p>
		</nav>
	<section id="checker">
		
		<section class="message">
				<!--
				<div>
					<p>
						Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor
						Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor
					</p>
					<p><strong>Identifiant :</strong>dededededededed</p>
				</div>
				<div>
					<p>
						Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor
						Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor
					</p>
					<p><strong>Identifiant :</strong>dededededededed</p>
				</div>
				-->
		</section>
		<div class="form" id="depot" style="display:none">			
				<label for="code"><span>Code </span>:<input type="text" name="code"/></label>
				<em class="code">Relir le chapm</em>
				<label for="telephone"><span>Expéditeur</span>:<input type="text" name="telephone"/></label>
				<em class="telephone">Relir le chapm</em>
				<label for="sum"><span>Montant deposé</span>:<input type="text" name="sum"></label>
				<em class="sum">Relir le chapm</em>
				<label for="solde"><span>Solde du compte</span>:<input type="text" name="solde"/></label>
				<em class="solde">Relir le chapm</em>
				<label for="cost"><span>Cout</span>:<input type="text" name="cost"/></label>
				<em class="cost">Relir le chapm</em>
				<label for="id"><span>Identifiant</span>:<input type="text" name="id"/></label>
				<em class="id">Relir le chapm</em>
				<span class="valid"><i>Valider</i></span>
				<p class="progress">. . . En cours de traitement</p>
				<p class="notification"></p>			
		</div>
		<div class="form" id="retrait" style="display:none">
			<label for="code"><span>Code </span>:<input type="text" name="code"/></label>
			<em class="code">Relir le chapm</em>
			<label for="telephone"><span>Beneficiare</span>:<input type="text" name="telephone"/></label>
			<em class="telephone">Relir le chapm</em>
			<label for="sum"><span>Montant Envoyé</span>:<input type="text" name="sum"></label>
			<em class="sum">Relir le chapm</em>
			<label for="solde"><span>Solde du compte</span>:<input type="text" name="solde"/></label>
			<em class="solde">Relir le chapm</em>
			<label for="cost"><span>Cout</span>:<input type="text" name="cost"/></label>
			<em class="cost">Relir le chapm</em>
			<label for="id"><span>Identifiant</span>:<input type="text" name="id"/></label>
			<em class="id">Relir le chapm</em>
			<span class="valid"><i>Valider</i></span>
			<p class="progress">. . . En cours de traitement</p>
			<p class="notification"></p>
		</div>
	</section>
	<div id="footer">
		<p><span>En cliquant sur valider, vous certifier avoir remplit correctement le formulaire de confirmation et que toutes
		les données transmises sont conforment au message en cours de confirmation.</span>
		<span>Toutes manoeuvre consistant a transmettre les données autres que celles present dans le message a confirmé est considere comme une fraude</span></p>
		<p class="logo"><img src="/public/logo/logo.png"/><img src="/public/logo/xerox.png"/></p>
		<p>Copyright 2020 IntelBin.sarl</p>
	</div>
{{#section "jquery"}}
<script type="text/javascript">

	$(document).ready(function(){		
		AjaxDepositMessage();
		function AjaxDepositMessage(){
			$(".message").html("");
			$.ajax({
				url:"/admin/checker/findAllMessage",
				type:"GET",
				success:function(data){
					console.log(data);
					if(data.error){
						$(".message").append("<p>"+data.error+"</p>");
					}				
					if(data.message){
						var allMessage=data.message;
							var id=allMessage._id;
							var message=allMessage.message;
							var type=allMessage.type;
							var year=allMessage.year;
							var month=allMessage.month;
							var dat=allMessage.dat;
							var hour=allMessage.hour;
							var minute=allMessage.minute;
							var second=allMessage.second;
							var millisecond=allMessage.millisecond;
							//var date=year+" "+month+" "+dat+" "+hour+" "+minute+" "+second+" "+millisecond;
							var date=allMessage.date;
						
							var flag="";
							if(type==="received"){
								flag="Depot";
								$("#retrait").css("display","none");
								$("#depot").css({
									display:"flex",
									flexDirection:"colum"
								});									
							}
							
							if(type==="sent"){
								flag="Retrait";
								$("#depot").css("display","none");
								$("#retrait").css({
									display:"flex",
									flexDirection:"colum"
								});
								$("#checker section p i #checker .form >span i").css({
									background:"red"
								});
							}
							var dateFlage="<p>"+date+"</p>";
							var flagType="<p><i>"+flag+"</i></p>";
							var p="<p class='sms'>"+message+"</p>";
							var identifiant="<p><strong>Identifiant : </strong>"+id+"</p>";												
							$(".message").append("<div>"+dateFlage+flagType+p+identifiant+"</div>");						
					}									
					if(data.no_message){						
						$(".message").append("<p>"+data.no_message+"</p>");	
					}
					if(data.no_ability){
						$(".message").append("<p>"+data.no_ability+"</p>");	
					}
					if(data.connect){
						$("#checker").append("<p>"+data.no_message+"</p>");	
					}
					
				}	
			})			
		}
		$("#depot .valid").on("click",function(){
			validationDeposit();
		});
		function validationDeposit(){			
			$("#depot .progress").css({display:"flex"});
			$("#depot em").css({display:"none"});
			$("#depot .notification").css({display:"none"});
			var code=$("#depot input[name=code]").val();
			var telephone=$("#depot input[name=telephone]").val();
			var sum=$("#depot input[name=sum]").val();
			var solde=$("#depot input[name=solde]").val();
			var cost=$("#depot input[name=cost]").val();
			var id=$("#depot input[name=id]").val();
			$.ajax({
				url:"/admin/depositValidation",
				type:"POST",
				data:"code="+code+"&telephone="+telephone+"&sum="+sum+"&solde="+solde+"&id="+id+"&cost="+cost,
				success:function(data){
					$("#depot .progress").css({display:"none"});
					if(data.body){
						var codeVal=data.body.code;
						var tel=data.body.telephone;
						var sumVal=data.body.sum;
						var soldeVal=data.body.solde;
						var idVal=data.body.id;
					}					
					if(data.error){
						$("#depot .message").append("<p>"+data.error+"</p>");
					}
					if(data.no_code){
						$("#depot .code").css({display:"flex"});
						$("#depot .code").text(data.no_code);
					}
					if(data.no_phone){
						$("#depot .telephone").css({display:"flex"});
						$("#depot .telephone").text(data.no_phone);
					}
					if(data.no_sum){
						$("#depot .sum").css({display:"flex"})
						$("#depot .sum").text(data.no_sum);
					}
					if(data.no_solde){
						$("#depot .solde").css({display:"flex"})
						$("#depot .solde").text(data.no_solde);
					}
					if(data.no_id){
						$("#depot .id").css({display:"flex"})
						$("#depot .id").text(data.no_id);
					}
					
					if(data.badcode){
						$("#depot .code").css({display:"flex"});
						$("#depot .code").text(data.badcode);
					}
					if(data.badphone){
						$("#depot .telephone").css({display:"flex"});
						$("#depot .telephone").text(data.badphone);
					}
					if(data.no_valid_length){
						$("#depot .notification").css({display:"flex"});
						$("#depot .notification").text(data.no_valid_length);
					}
					if(data.badsum){
						$("#depot .sum").css({display:"flex"})
						$("#depot .sum").text(data.badsum);
					}
					if(data.badsolde){
						$("#depot .sum").css({display:"flex"})
						$("#depot .sum").text(data.badsolde);
					}
					if(data.no_number){
						$("#depot .sum").css({display:"flex"})
						$(".sum").text(data.no_number);
					}
					if(data.no_solde){
						$("#depot .sum").css({display:"flex"})
						$("#depot .sum").text(data.no_solde);
					}
					if(data.no_cost){
						$("#depot .cost").css({display:"flex"})
						$("#depot .cost").text(data.no_cost);
					}
					if(data.no_id){
						$("#depot .id").css({display:"flex"})
						$("#depot .id").text(data.no_id);
					}
					
					if(data.msg_error){
						$("#depot .notification").css({display:"flex"});
						$("#depot .notification").text(data.msg_error);
					}
					if(data.success){
						$("#depot .notification").css({display:"flex"});
						$("#depot .notification").text(data.success);
						$("#depot input[name=code]").val("");
						$("#depot input[name=telephone]").val("");
						$("#depot input[name=sum]").val("");
						$("#depot input[name=solde]").val("");
						$("#depot input[name=cost]").val("");
						$("#depot input[name=id]").val("");
						setTimeout(function(){
							AjaxDepositMessage();
							$("#depot .notification").css({display:"none"});
						},2000);
					}
					if(data.checkdata){
						$("#depot .notification").css({display:"flex"});
						$("#depot .notification").text(data.checkdata);
					}
					if(data.no_message){
						$("#depot .notification").css({display:"flex"});
						$("#depot .notification").text(data.no_message);
					}
					if(data.checkdata){
						$("#depot .notification").css({display:"flex"});
						$("#depot .notification").text(data.checkdata);
					}
					if(data.no_user){
						$("#depot .notification").css({display:"flex"});
						$("#depot .notification").text(data.no_user);
					}

					
				}	
			});		
		}
		$("#retrait .valid").on("click",function(){
			validationSend();
		});
		function validationSend(){			
			$("#retrait .progress").css({display:"flex"});
			$("#retrait em").css({display:"none"});
			$("#retrait .notification").css({display:"none"});
			var code=$("#retrait input[name=code]").val();
			var telephone=$("#retrait input[name=telephone]").val();
			var sum=$("#retrait input[name=sum]").val();
			var solde=$("#retrait input[name=solde]").val();
			var cost=$("#retrait input[name=cost]").val();
			var id=$("#retrait input[name=id]").val();
			$.ajax({
				url:"/admin/withdrawValidation",
				type:"POST",
				data:"code="+code+"&telephone="+telephone+"&sum="+sum+"&solde="+solde+"&id="+id+"&cost="+cost,
				success:function(data){
					$("#retrait .progress").css({display:"none"});
					if(data.body){
						var codeVal=data.body.code;
						var tel=data.body.telephone;
						var sumVal=data.body.sum;
						var soldeVal=data.body.solde;
						var idVal=data.body.id;
					}					
					if(data.error){
						$("#retrait .message").append("<p>"+data.error+"</p>");
					}
					if(data.no_code){
						$("#retrait .code").css({display:"flex"});
						$("#retrait .code").text(data.no_code);
					}
					if(data.no_phone){
						$("#retrait .telephone").css({display:"flex"});
						$("#retrait .telephone").text(data.no_phone);
					}
					if(data.no_sum){
						$("#retrait .sum").css({display:"flex"})
						$("#retrait .sum").text(data.no_sum);
					}
					if(data.no_solde){
						$("#retrait .solde").css({display:"flex"})
						$("#retrait .solde").text(data.no_solde);
					}
					if(data.no_cost){
						$("#retrait .solde").css({display:"flex"})
						$("#retrait .solde").text(data.no_cost);
					}
					if(data.no_id){
						$("#retrait .id").css({display:"flex"})
						$("#retrait .id").text(data.no_id);
					}
					
					if(data.badcode){
						$("#retrait .code").css({display:"flex"});
						$("#retrait .code").text(data.badcode);
					}
					if(data.badphone){
						$("#retrait .telephone").css({display:"flex"});
						$("#retrait .telephone").text(data.badphone);
					}
					if(data.no_valid_length){
						$("#retrait .notification").css({display:"flex"});
						$("#retrait .notification").text(data.no_valid_length);
					}
					if(data.badsum){
						$("#retrait .sum").css({display:"flex"})
						$("#retrait .sum").text(data.badsum);
					}
					if(data.badsolde){
						$("#retrait .sum").css({display:"flex"})
						$("#retrait .sum").text(data.badsolde);
					}
					if(data.no_number){
						$("#retrait .sum").css({display:"flex"})
						$("#retrait .sum").text(data.no_number);
					}
					if(data.no_solde){
						$("#retrait .sum").css({display:"flex"})
						$(".sum").text(data.no_solde);
					}
					if(data.no_id){
						$("#retrait .id").css({display:"flex"})
						$("#retrait .id").text(data.no_id);
					}
					
					if(data.msg_error){
						$("#retrait .notification").css({display:"flex"});
						$("#retrait .notification").text(data.msg_error);
					}
					if(data.success){
						$("#retrait .notification").css({display:"flex"});
						$("#retrait .notification").text(data.success);
						$("#retrait input[name=code]").val("");
						$("#retrait input[name=telephone]").val("");
						$("#retrait input[name=sum]").val("");
						$("#retrait input[name=solde]").val("");
						$("#retrait input[name=cost]").val("");
						$("#retrait input[name=id]").val("");
						setTimeout(function(){
							AjaxDepositMessage();
							$("#retrait .notification").css({display:"none"});
						},2000);
					}
					if(data.checkdata){
						$("#retrait .notification").css({display:"flex"});
						$(".notification").text(data.checkdata);
					}
					if(data.no_message){
						$("#retrait .notification").css({display:"flex"});
						$("#retrait .notification").text(data.no_message);
					}
					if(data.no_withdraw){
						$("#retrait .notification").css({display:"flex"});
						$("#retrait .notification").text(data.no_withdraw);
					}
					if(data.no_user){
						$("#retrait .notification").css({display:"flex"});
						$("#retrait .notification").text(data.no_user);
					}

					
				}	
			});		
		}
		
	})
	</script>
{{/section}}