{{#section "head"}}
	<link rel="stylesheet" type="text/css" href="/public/css/menuq.css"/>
	<link rel="stylesheet" type="text/css" href="/public/css/queue.css"/>
{{/section}}
{{#if lastTontine}}
	<input type="hidden" value="{{lastTontine}}" id="lastTontine"/>
{{/if}}
<div id="wrapper" class="wrapper">
	<p>Vous etes sur le point d'inviter <strong class="username"></strong>  <strong class="telephone"></strong>dans votre tontine de <strong class="tontine"> </strong></p>
	<p><span id="cancel">Anuler</span><a href="" id="validated">Valider</a></p>	
</div>

{{#if falseNotification}}
	<div id="wrapperNotification" class="wrapper">
		<p>{{falseNotification}}</p>
		<p><span id="falseNotification" style="background:red;">OK</span></p>	
	</div>
{{/if}}

{{#if trueNotification}}
	<div id="wrapperTrueNotification" class="wrapper" >
		<p>{{trueNotification}}</p>
		<p><span id="trueNotification" style="background:rgba(0,128,64,1);">OK</span></p>	
	</div>
{{/if}}
	
<div id="nav_container">
	<div style="display:none">
		<nav>
			<ul class="menu_box" id="menu_box">
				<li><a id="5">5 $</a></li>
				<li><a id="10">10 $</a></li>
				<li><a id="20">20 $</a></li>
				<li><a id="50">50 $</a></li>
				<li><a id="100">100 $</a></li>
				
			</ul>
		</nav>			
	</div>
</div>
<section id="listContainer">
	<div id="list">
		...Chargement
	</div>
</section>
<div class="wrapper error" style="display:none">
		<p></p>		
</div>
		{{#section "jquery"}}
		
		<script type="text/javascript">
			$(document).ready(function(){
			var menuLinks=$("#nav_container a");
			var lastTontine=$("#lastTontine").val();
			var activeMenu=lastTontine?lastTontine:5;
			$("#"+activeMenu).addClass("active");
			menuLinks.each(function(){			
			var NameClass=$(this).attr("class");
				if(NameClass==="active"){
					var lastText=$(this).text();
					var newText="File de "+lastText;
					$(this).text(newText);
				}
				$(this).on("click",function(){
					var tontine=$(this).attr("id");
					var lastActive=$("#nav_container a.active").text();
					var text=lastActive.substring(8);
					$("#nav_container a.active").text(text);
					menuLinks.removeClass("active");
					$(this).addClass("active");
					var lastText=$(this).text();
					var newText="File de "+lastText;
					$(this).text(newText);
					
					AjaxCall(tontine);
					
				});
				
			});
				
				var input=window.AppInventor.getWebViewString();
				//var input="true,0817512384,123456";
				
				if(input.length>0){
					
					var lastTontine=$("#lastTontine").val();
					var defaultTontine=lastTontine?lastTontine:5;
					
					var tontineActive=$("#nav_container a.active").attr("id");
						//console.log("tontineActive");
						//console.log(tontineActive);
					let requestHeader=input.split(",");
					if(requestHeader[0]==="true"){
						//If header is true user has got a session
						$("#nav_container>div").css({
							display:"flex"							
						});
						
						AjaxCall(defaultTontine);
					}else{
						//if is false user does'nt got a session
						console.log("is false");
						$(".wrapper").css({display:"none"});
					}
				}
				
				function deleteSpace(string=""){
					var regex=/\s+/g;
					var newString=string.replace(regex,"");
					return newString;
				}
				
				function AjaxCall(tontine){
				$("#list").html("");
				if(input.length>0){
					var header=input.split(",")
					var logIn=header[0];
					var phone=deleteSpace(header[1]);
					var pass=deleteSpace(header[2]);
					var tel=$("#tel");
					tel.text(phone);
					$.ajax({
						url:"/users/queue",
						type:"POST",
						data:"logIn="+logIn+"&phone="+phone+"&pass="+pass+"&tontine="+tontine,
						success:function(data){
							$("#pass").text(data);							
							if(data.error){
								var error=data.error;
								$(".error p").text(error);
								$(".error").css({
									display:"flex"
								});
							}
							if(data.trueNotification){
								var trueNotification=data.trueNotification;								
							}							
							if(data.queue){
								$(".error").css({
									display:"none"
								});
								var queue=data.queue;
								if(queue.length>0){
									var list=$("#list");									
									for(var i=0; i<queue.length;i++){
										var name=queue[i].name;
										var telephone=queue[i].telephone;
										console.log(queue[i].name);
										console.log(queue[i].telephone)
										console.log(i);
										$("#list").append("<li class='"+telephone+"'><p><span class='firstLetter'></span> <strong><span>"+name+"</span><span>"+telephone+"</span></strong></p><i class='invited' id='"+telephone+"'name='"+name+"'>Inviter</i></li>");
									}									
									$("#listContainer").html(list);
								}
							}
							
							var allList=$("#list li strong span:first-child");
	
							allList.each(function(){
								var name=$(this).text();
								var firstLetter=name.substring(0,1);
								var allLetter=name.substring(1);
								
								firstLetter=firstLetter.toUpperCase();
								var newName=firstLetter+allLetter;
								$(this).text(newName);
								var strong=$(this).parent();
								var li=strong.prev();
								li.text(firstLetter);
							});

							var allFirstLetter=$("#list .firstLetter");
							var red=255;
							var green=255;
							var blue=255;
							function randomColor(){
								red=Math.random()*red;
								green=Math.random()*green;
								blue=Math.random()*blue;
								if(red===255&&green===255&&blue===255){
									randomColor();
								}
								var color="rgba("+red+","+green+","+blue+")";
								return color;
							}
							
							allFirstLetter.each(function(){
								$(this).css({backgroundColor:randomColor()})
							});
							
							var invited=$("#list li i");
							invited.each(function(){
								
								var tontine=$("#nav_container a.active").attr("id");
								//tontine=tontine.substring(tontine.lastIndexOf("/")+1);
							
								console.log("tontine");
								console.log(tontine);
								
								$(this).on("click",function(){
									console.log("is clicked");
									var childInvited=$(this).attr("id");
									var childInvitedName=$(this).attr("name");
									console.log("childInvited");
									console.log(childInvited);
									$("#wrapper .username").text(childInvitedName);
									/*$("#wrapper .telephone").text(childInvited);*/
									$("#wrapper .tontine").text(tontine+" $");
									
									$("#validated").attr("href","/users/invited/"+tontine+"/"+childInvited);
									$("#wrapper").fadeIn();
									$("#wrapper .tontine").text(tontine+" $");
									$("#wrapper").css({
										display:"flex"
									});
									
									$("#cancel").on("click",function(){
										$("#wrapper").fadeOut();
										$("#validated").attr("href","");
									});
									
								});
								
							});
							
							$("#falseNotification").on("click",function(){
								$("#wrapperNotification").slideUp();
							});
							$("#trueNotification").on("click",function(){
								$("#wrapperTrueNotification").fadeOut();
							});
						},
						error:function(res){
							console.log(res)
						}
					});		
				}
			}
					
		
		});
				
				
		</script>
		
		{{/section}}