<p style="margin-top:2em">
	Bienvenue sur tontine RDC
	<span>{{member}}</span>
	<span id="member" style="display:none"><span>
	</p>
<h1>Utilisateurs</h1>
<div id="users" style="font-weight:bold">

</div>
<p class="user">user1</p>
<p class="user">user2</p>

{{#section "jquery"}}
		<script type="text/javascript" src="/socket.io/socket.io.js"></script>
		<script type="text/javascript" src="/public/js/socket.js"></script>
{{/section}}