{{#section "head"}}
	<link rel="stylesheet" type="text/css" href="/public/css/menu.css"/>
	<link rel="stylesheet" type="text/css" href="/public/css/validation_page.css"/>
{{/section}}

<p id="nav" style="margin:1em; text-align:center"><a href="/admin/all_users">All Users</a><a href="/admin/tontine/5">File et tontine</a></p>

<form action="/admin/validation" method="post">
	<p class="tontine">
		<span>Selectionner la somme à déposé</span>
		<label for="five">
			<span>5 $</span><input type="radio" name="tontine" value="5"/>
		</label>
		<label for="ten">
			<span>10 $</span><input type="radio" name="tontine" value="10"/>
		</label>
		<label for="twenty">
			<span>20 $</span><input type="radio" name="tontine" value="20"/>
		</label>
		<label for="fifty">
			<span>50 $</span><input type="radio" name="tontine" value="50"/>
		</label>
		<label for="hundred">
			<span>100 $</span><input type="radio" name="tontine" value="100"/>
		</label>
	</p>	
	{{#if no_tontine}}
		<p class="error">Sélectionner le montant à deposé sur le compte</p>
	{{/if}}
	
	<p class="number">
		<span>Numero de l'utilsateur</span>
		<label for="phone_number">		
		<input type="number" name="phone_number" value="{{phone}}"/>
		</label>
	</p>
	{{#if no_phone}}
		<p class="error">Indiquer le numero de telephone du depositaire</p>
	{{/if}}
	{{#if bad_format_phone}}
		<p class="error">Le numero de telephone n'a pas le bon format</p>
	{{/if}}
	{{#if succes_validation}}
		<p class="success"> {{succes_validation}}</p>
	{{/if}}
	{{#if no_user}}
		<p class="error">Aucun utilisateur n'est enregistré sous ce numero</p>
	{{/if}}
	{{#if error}}
		<p class="error">Une erreur est survenue, reesayer plus tard</p>
	{{/if}}
	
	
	<input type="submit" value="soumetre"/>
</form>