body{
	padding:0px;
	margin:0px;
	user-select:none;
	font-family:Helvetica;
	position:relative;
}

body a,body a:hover{
	-moz-transition:0.5s;
	-ms-transition:0.5s;
	-webkit-transition:0.5s;
	transition:0.5s;
	text-decoration:none;
}

#menu_box,#container .header .main_navigation ul,#container .left_aside,#aside_left,#partner p{
	-moz-transition:1s;
	-ms-transition:1s;
	-webkit-transition:1s;
	transition:1s;
}

.wrapper{
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	z-index:1;
	background:rgba(0,0,0,0.8);
	display:none;
}